.card {
    position: relative;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.delete-btn {
    cursor: pointer;
    color: red;
    position: absolute;
    right: 10px;
    top: 5px;
}